* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: green;
    font-size: large;
    position: fixed;
    width: 100%;
}

a {
    text-decoration: none;
    color: blue;
}

ul li {
    display: inline-block;
}

.cook {
    background-color: purple;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    position: fixed;
    bottom: 30px;
    border-radius: 100%;
}